{% extends 'main.html' %}

{% block title %}
<title>Home</title>
 
{% endblock title %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      <strong class = "text-center">Message:</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} 
<img src = "{{ url_for('static', filename='abc.jpg') }}" alt = "" style = "width:100%;height:600px;">
<div class="row mb-2"> 
{% for blog in data %} 
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.pub_date}}</div>
          <div class="mb-1 text-muted"><h5>{{blog.author}}</h4></div>
          <p class="card-text mb-auto" >{{blog.content}}</p>
          <a href="/blog_detail/{{blog.blog_id}}"  class = 'btn btn-primary'>Continue reading</a>
        </div>
      </div>  
    </div>
{% endfor %}
</div>
{% endblock body %}